@media (max-width: 767px){
    footer{
        background-color: $grey-bg;
    
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
    
            &_address{
                color: #323264;
                font-size: 16px;
                padding-bottom: 10px;
            }
    
            &_btn1{
                border: 0;
                background: transparent;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: $bold;
                font-size: 12px;
                color: $active-regular;
                padding-bottom: 21px;
            }
    
            &_btn2{
                border: 0;
                background: transparent;
                padding-bottom: 10px;              
            }
    
            &_btn3{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #46466E;
                font-size: 16px;
                padding-bottom: 10px;  
            }
    
            &_btn4{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #24A3FF;
                font-size: 16px;
                padding-bottom: 30px;  
            }
    
            &_text{
                color: #B3B3BA;
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px){
    .footer{
        display: none;
    }
}

@media (max-width: 767px){
    .footerTSD{
        display: none;
    }
}

@media (max-width: 1023px){
    .footerTSD{
        background-color: $grey-bg;
    
        .content1{
            display: flex;
            padding: 30px 60px;
            align-items: center;
            justify-content: space-between;

    
            .group1{
                display: flex;
                gap: 10px;

                .address{
                    color: #323264;
                    font-size: 16px;
                }
    
                .dot{
                    display: flex;
                    align-items: center;
                }
        
                .btn1{
                    border: 0;
                    background: transparent;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: $bold;
                    font-size: 12px;
                    color: $active-regular;
                }
            }
    
            .group2{
                text{
                    color: #B3B3BA;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
        }

        .content2{
            display: flex;
            padding: 0 60px;
            padding-bottom: 30px;
            gap: 10px;

            &_btn2{
                border: 0;
                background: transparent;             
            }
    
            &_btn3{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #46466E;
                font-size: 16px; 
            }
    
            &_btn4{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #24A3FF;
                font-size: 16px;
            }

            .dot{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: 1024px){
    .footerTSD{
        display: none;
    }
}

@media (max-width: 1439px){
    .footerTHD{
        background-color: $grey-bg;
    
        .content1{
            display: flex;
            padding: 30px 60px;
            align-items: center;
            justify-content: space-between;

    
            .group1{
                display: flex;
                gap: 10px;

                .address{
                    color: #323264;
                    font-size: 16px;
                }
    
                .dot{
                    display: flex;
                    align-items: center;
                }
        
                .btn1{
                    border: 0;
                    background: transparent;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: $bold;
                    font-size: 12px;
                    color: $active-regular;
                }
            }
    
            .group2{
                text{
                    color: #B3B3BA;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
        }

        .content2{
            display: flex;
            padding: 0 60px;
            padding-bottom: 30px;
            gap: 10px;

            &_btn2{
                border: 0;
                background: transparent;             
            }
    
            &_btn3{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #46466E;
                font-size: 16px; 
            }
    
            &_btn4{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #24A3FF;
                font-size: 16px;
            }

            .dot{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1023px){
    .footerTHD{
        display: none;
    }
}

@media (min-width: 1440px){
    .footerTHD{
        display: none;
    }
}

@media (min-width: 1440px){
    .footerDHD{
        background-color: $grey-bg;
    
        .content1{
            display: flex;
            padding: 30px 160px;
            align-items: center;
            justify-content: space-between;

    
            .group1{
                display: flex;
                gap: 10px;

                .address{
                    color: #323264;
                    font-size: 16px;
                }
    
                .dot{
                    display: flex;
                    align-items: center;
                }
        
                .btn1{
                    border: 0;
                    background: transparent;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: $bold;
                    font-size: 12px;
                    color: $active-regular;
                }
            }
    
            .group2{
                text{
                    color: #B3B3BA;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
        }

        .content2{
            display: flex;
            padding: 0 160px;
            padding-bottom: 30px;
            gap: 10px;

            &_btn2{
                border: 0;
                background: transparent;             
            }
    
            &_btn3{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #46466E;
                font-size: 16px; 
            }
    
            &_btn4{
                border: 0;
                background: transparent;
                font-weight: $bold;
                color: #24A3FF;
                font-size: 16px;
            }

            .dot{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1439px){
    .footerDHD{
        display: none;
    }
}